<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Get-the-database-config" data-toc-modified-id="Get-the-database-config-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Get the database config</a></span></li><li><span><a href="#Load-sql-magic" data-toc-modified-id="Load-sql-magic-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Load sql magic</a></span></li><li><span><a href="#Connect-the-mysql-server" data-toc-modified-id="Connect-the-mysql-server-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Connect the mysql server</a></span></li><li><span><a href="#Delete-old-tables" data-toc-modified-id="Delete-old-tables-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Delete old tables</a></span></li><li><span><a href="#Create-an-empty-table" data-toc-modified-id="Create-an-empty-table-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Create an empty table</a></span><ul class="toc-item"><li><span><a href="#customers" data-toc-modified-id="customers-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>customers</a></span></li><li><span><a href="#sales" data-toc-modified-id="sales-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>sales</a></span></li><li><span><a href="#items" data-toc-modified-id="items-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>items</a></span></li><li><span><a href="#companies" data-toc-modified-id="companies-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>companies</a></span></li></ul></li><li><span><a href="#Get-names-of-all-tables" data-toc-modified-id="Get-names-of-all-tables-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Get names of all tables</a></span><ul class="toc-item"><li><span><a href="#Drop-all-tables" data-toc-modified-id="Drop-all-tables-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Drop all tables</a></span></li></ul></li><li><span><a href="#Close-the-connection" data-toc-modified-id="Close-the-connection-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Close the connection</a></span></li></ul></div>

# Imports

In [1]:
import numpy as np
import pandas as pd
import os
import json

import mysql.connector

# Get the database config

In [2]:
ifile = os.path.expanduser('~') + "/.mysql_conf.json"
with open(ifile) as fo:
    data = json.load(fo)
    
pw = data['password']

# Load sql magic

In [3]:
%load_ext sql

In [4]:
%sql mysql+mysqlconnector://bhishan:$pw@localhost/Sales

'Connected: bhishan@Sales'

# Connect the mysql server

In [5]:
conn = mysql.connector.connect(host='localhost',user='bhishan',passwd=pw)
cur = conn.cursor()

try:
    dbs = cur.execute('show databases')
except:
    conn.rollback()
    
for i in cur:
    print(i)
    
conn.close()

('information_schema',)
('mysql',)
('performance_schema',)
('Sales',)
('sys',)

In [6]:
conn = mysql.connector.connect(
    host='localhost',user='bhishan',passwd=pw,database='Sales')

cur = conn.cursor()

# Delete old tables

In [7]:
cur.execute("drop table if exists customers;")
cur.execute("drop table if exists sales;")
cur.execute("drop table if exists items;")
cur.execute("drop table if exists companies;")
conn.commit()

# Create an empty table

## customers

In [8]:
q = """\
create table if not exists customers                         

(

   customer_id int,
   first_name varchar(255),
   last_name varchar(255),
   email_address varchar(255),
   number_of_complaints int default 0,

primary key (customer_id),
unique key (email_address)
);
""";

cur.execute(q)
conn.commit()

q2 = """\
alter table customers
change column number_of_complaints int default 0;
""";

In [1]:
import sqlparse

In [4]:
q = """\
create table if not exists customers                         

(

   customer_id int,
   first_name varchar(255),
   last_name varchar(255),
   email_address varchar(255),
   number_of_complaints int default 0,

primary key (customer_id),
unique key (email_address)
);
""";

qq = sqlparse.format(q,reindent=True,keyword_case='upper')
print(qq)

CREATE TABLE IF NOT EXISTS customers ( customer_id int, first_name varchar(255),
                                                                   last_name varchar(255),
                                                                             email_address varchar(255),
                                                                                           number_of_complaints int DEFAULT 0,
                                                                                                                            PRIMARY KEY (customer_id), UNIQUE KEY (email_address));

In [9]:
q = """\
ALTER TABLE customers

ADD COLUMN gender ENUM('M', 'F') AFTER last_name;
""";

cur.execute(q)
conn.commit()

In [10]:
q = """\
INSERT INTO customers (customer_id, first_name, last_name, gender, email_address)

VALUES (1,'John', 'Mackinley', 'M', 'john.mckinley@365careers.com');
""";

cur.execute(q)
conn.commit()

In [11]:
%%sql
select * from customers;

 * mysql+mysqlconnector://bhishan:***@localhost/Sales
1 rows affected.

[(1, 'John', 'Mackinley', 'M', 'john.mckinley@365careers.com', 0)]

## sales

In [12]:
q = """\
create table sales(
  purchase_number int not null auto_increment,
  date_of_purchase date not null,
  customer_id int,
  item_code varchar(10),
  
primary key (purchase_number),
foreign key (customer_id) references customers(customer_id) on delete cascade
);
""";

cur.execute(q)
conn.commit()

# if we add foreign keys later, we can use this:
q = """\
alter table sales
add foreign key (customer_id) references customers(customer_id)
on delete cascade
);
""";

## items

In [13]:
q = """\
create table items (

   item_id varchar(255),
   item varchar(255),
   unit_price numeric(10,2),
   company_id varchar(255),

primary key (item_id)

);
""";

cur.execute(q)
conn.commit()

## companies

In [14]:
q = """\
create table companies
(

   company_id varchar(255),
   company_name varchar(255),
   headquarters_phone_number int(12),

primary key (company_id)

);
""";

cur.execute(q)
conn.commit()

In [15]:
q = """\
ALTER TABLE companies

MODIFY headquarters_phone_number VARCHAR(255) NULL;
""";

cur.execute(q)
conn.commit()

In [16]:
q = """\
ALTER TABLE companies

CHANGE COLUMN headquarters_phone_number
headquarters_phone_number VARCHAR(255) NOT NULL;
""";

cur.execute(q)
conn.commit()

# Get names of all tables

In [17]:
%%sql
SELECT table_name FROM information_schema.tables
WHERE table_schema = 'Sales';

 * mysql+mysqlconnector://bhishan:***@localhost/Sales
5 rows affected.

[('companies',), ('customers',), ('items',), ('sales',), ('testme',)]

## Drop all tables

In [18]:
cur.execute("drop table if exists sales;")
cur.execute("drop table if exists customers;")
cur.execute("drop table if exists items;")
cur.execute("drop table if exists companies;")
conn.commit()

# Close the connection

In [19]:
conn.close()