<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Get-the-database-config" data-toc-modified-id="Get-the-database-config-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Get the database config</a></span></li><li><span><a href="#Load-sql-magic" data-toc-modified-id="Load-sql-magic-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Load sql magic</a></span></li><li><span><a href="#Get-names-of-all-tables" data-toc-modified-id="Get-names-of-all-tables-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Get names of all tables</a></span></li><li><span><a href="#Connect-the-mysql-server" data-toc-modified-id="Connect-the-mysql-server-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Connect the mysql server</a></span></li><li><span><a href="#Create-duplicate-table" data-toc-modified-id="Create-duplicate-table-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Create duplicate table</a></span></li></ul></div>

# Imports

In [1]:
import numpy as np
import pandas as pd
import os
import json

In [7]:
import mysql.connector

# Get the database config

In [2]:
ifile = os.path.expanduser('~') + "/.mysql_conf.json"
with open(ifile) as fo:
    data = json.load(fo)
    
pw = data['password']

# Load sql magic

In [3]:
%load_ext sql

In [4]:
%sql mysql+mysqlconnector://bhishan:$pw@localhost/employees

'Connected: bhishan@employees'

# Get names of all tables

In [5]:
%%sql
SELECT table_name FROM information_schema.tables
WHERE table_schema = 'employees';

 * mysql+mysqlconnector://bhishan:***@localhost/employees
8 rows affected.

[('current_dept_emp',),
 ('departments',),
 ('dept_emp',),
 ('dept_emp_latest_date',),
 ('dept_manager',),
 ('employees',),
 ('salaries',),
 ('titles',)]

# Connect the mysql server

In [11]:
conn = mysql.connector.connect(
    host='localhost',user='bhishan',passwd=pw,database='employees')

cur = conn.cursor()

# Create duplicate table

In [12]:
%sql select * from departments limit 2;

 * mysql+mysqlconnector://bhishan:***@localhost/employees
2 rows affected.

[('d009', 'Customer Service'), ('d005', 'Development')]

In [13]:
%sql show create table employees.departments;

 * mysql+mysqlconnector://bhishan:***@localhost/employees
1 rows affected.

[('departments', 'CREATE TABLE `departments` (\n  `dept_no` char(4) NOT NULL,\n  `dept_name` varchar(40) NOT NULL,\n  PRIMARY KEY (`dept_no`),\n  UNIQUE KEY `dept_name` (`dept_name`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci')]

In [17]:
q = """\
drop table if exists departments_dup;
""";

cur.execute(q)

q = """\
create table departments_dup(
  dept_no char(4) not null,
  dept_name varchar(40) not null
);
""";

cur.execute(q)

q = """\
insert into departments_dup
select * from departments;
""";

cur.execute(q)

conn.commit()

In [18]:
%sql select * from departments_dup limit 2;

 * mysql+mysqlconnector://bhishan:***@localhost/employees
2 rows affected.

[('d009', 'Customer Service'), ('d005', 'Development')]