<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Get-the-database-config" data-toc-modified-id="Get-the-database-config-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Get the database config</a></span></li><li><span><a href="#Load-sql-magic" data-toc-modified-id="Load-sql-magic-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Load sql magic</a></span></li><li><span><a href="#Get-names-of-all-tables" data-toc-modified-id="Get-names-of-all-tables-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Get names of all tables</a></span></li><li><span><a href="#SQL-Functions" data-toc-modified-id="SQL-Functions-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>SQL Functions</a></span><ul class="toc-item"><li><span><a href="#ifnull-and-coalesce" data-toc-modified-id="ifnull-and-coalesce-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>ifnull and coalesce</a></span></li></ul></li></ul></div>

# Imports

In [1]:
import numpy as np
import pandas as pd
import os
import json

# Get the database config

In [2]:
ifile = os.path.expanduser('~') + "/.mysql_conf.json"
with open(ifile) as fo:
    data = json.load(fo)
    
pw = data['password']

# Load sql magic

In [3]:
%load_ext sql

In [5]:
%sql mysql+mysqlconnector://bhishan:$pw@localhost/employees

'Connected: bhishan@employees'

# Get names of all tables

In [6]:
%%sql
SELECT table_name FROM information_schema.tables
WHERE table_schema = 'employees';

 * mysql+mysqlconnector://bhishan:***@localhost/employees
8 rows affected.

[('current_dept_emp',),
 ('departments',),
 ('dept_emp',),
 ('dept_emp_latest_date',),
 ('dept_manager',),
 ('employees',),
 ('salaries',),
 ('titles',)]

# SQL Functions

## ifnull and coalesce

coalesce Return the first non-null value in a list.

In [9]:
%%sql
select dept_no, ifnull(dept_name,'Not provided') as dept_name
from departments;

 * mysql+mysqlconnector://bhishan:***@localhost/employees
9 rows affected.

[('d009', 'Customer Service'),
 ('d005', 'Development'),
 ('d002', 'Finance'),
 ('d003', 'Human Resources'),
 ('d001', 'Marketing'),
 ('d004', 'Production'),
 ('d006', 'Quality Management'),
 ('d008', 'Research'),
 ('d007', 'Sales')]

In [16]:
%sql SELECT COALESCE(NULL, NULL, NULL, 'W3Schools.com', NULL, 'Example.com');

 * mysql+mysqlconnector://bhishan:***@localhost/employees
1 rows affected.

[('W3Schools.com',)]

In [17]:
%sql SELECT COALESCE(NULL, 1, 2, 'W3Schools.com');

 * mysql+mysqlconnector://bhishan:***@localhost/employees
1 rows affected.

[('1',)]

In [10]:
%%sql
select dept_no, coalesce(dept_name,'Not provided') as dept_name
from departments;

 * mysql+mysqlconnector://bhishan:***@localhost/employees
9 rows affected.

[('d009', 'Customer Service'),
 ('d005', 'Development'),
 ('d002', 'Finance'),
 ('d003', 'Human Resources'),
 ('d001', 'Marketing'),
 ('d004', 'Production'),
 ('d006', 'Quality Management'),
 ('d008', 'Research'),
 ('d007', 'Sales')]

In [13]:
%sql select * from departments limit 2;

 * mysql+mysqlconnector://bhishan:***@localhost/employees
2 rows affected.

[('d009', 'Customer Service'), ('d005', 'Development')]

In [18]:
%%sql
select dept_no, dept_name, 
       coalesce(dept_name,dept_no, 'neither_dept_name_nor_dept_no') as dept_name_changed
from departments;

 * mysql+mysqlconnector://bhishan:***@localhost/employees
9 rows affected.

[('d009', 'Customer Service', 'Customer Service'),
 ('d005', 'Development', 'Development'),
 ('d002', 'Finance', 'Finance'),
 ('d003', 'Human Resources', 'Human Resources'),
 ('d001', 'Marketing', 'Marketing'),
 ('d004', 'Production', 'Production'),
 ('d006', 'Quality Management', 'Quality Management'),
 ('d008', 'Research', 'Research'),
 ('d007', 'Sales', 'Sales')]