<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Preface" data-toc-modified-id="Preface-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Preface</a></span><ul class="toc-item"><li><span><a href="#Description" data-toc-modified-id="Description-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Description</a></span></li><li><span><a href="#Imports" data-toc-modified-id="Imports-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Get-the-database-config" data-toc-modified-id="Get-the-database-config-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Get the database config</a></span></li><li><span><a href="#Load-sql-magic" data-toc-modified-id="Load-sql-magic-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Load sql magic</a></span></li><li><span><a href="#Get-names-of-all-tables" data-toc-modified-id="Get-names-of-all-tables-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Get names of all tables</a></span></li><li><span><a href="#Connect-the-mysql-server" data-toc-modified-id="Connect-the-mysql-server-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Connect the mysql server</a></span></li><li><span><a href="#Avoid-1055-error" data-toc-modified-id="Avoid-1055-error-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Avoid 1055 error</a></span></li></ul></li></ul></div>

# Preface

## Description
**Notes**  
- Mysql is case insensitive. eg `like('m%')` and `like('M%')` are same.


Entity Relation (ER) Diagram:

![](pdf/employees_db.png)

## Imports

In [1]:
import numpy as np
import pandas as pd
import os
import json

## Get the database config

In [2]:
ifile = os.path.expanduser('~') + "/.mysql_conf.json"
with open(ifile) as fo:
    data = json.load(fo)
    
pw = data['password']

## Load sql magic

In [3]:
%load_ext sql

In [4]:
%sql mysql+mysqlconnector://bhishan:$pw@localhost/employees

'Connected: bhishan@employees'

## Get names of all tables

In [5]:
%%sql
SELECT table_name FROM information_schema.tables
WHERE table_schema = 'employees';

 * mysql+mysqlconnector://bhishan:***@localhost/employees
10 rows affected.

[('current_dept_emp',),
 ('departments',),
 ('departments_dup',),
 ('dept_emp',),
 ('dept_emp_latest_date',),
 ('dept_manager',),
 ('dept_manager_dup',),
 ('employees',),
 ('salaries',),
 ('titles',)]

## Connect the mysql server

In [6]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',user='bhishan',passwd=pw,database='employees')

cur = conn.cursor()

In [7]:
%sql select * from dept_manager limit 2;

 * mysql+mysqlconnector://bhishan:***@localhost/employees
2 rows affected.

[(110022, 'd001', datetime.date(1985, 1, 1), datetime.date(1991, 10, 1)),
 (110039, 'd001', datetime.date(1991, 10, 1), datetime.date(9999, 1, 1))]

## Avoid 1055 error

In [8]:
q = "set @@global.sql_mode := replace(@@global.sql_mode, 'ONLY_FULL_GROUP_BY', '');"
cur.execute(q)
conn.commit()